{{#partial "consumoZona"}}

{{#each clientesZ}}
<tr> 
	<td>{{nombre}}</td>
	<td>{{apellido}}</td>
	<td>{{domicilio}}</td>
	<td>{{telefono}}</td>
	<td>{{fechaDeAlta}}</td>
	<td>{{consumo}}<td>
</tr>
{{/each}}

{{/partial}}

{{>clientesFiltro.hbs}}